body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

.product {
    background: white;
    margin: 15px auto;
    padding: 15px;
    width: 250px;
    border-radius: 8px;
}

button {
    padding: 8px 15px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}
